.button {
	background-color: #171a20cc;
	height: 40px;
	line-height: 40px;
	width: 320px;
	margin: 8px;
	border-radius: 100px;
	text-align: center;
}

.button > p {
	text-decoration: none;
	color: white;
	font-size: 13px;
	font-weight: 600;
}

.button__white {
	background-color: rgba(244, 244, 244, 0.65);
	height: 40px;
	line-height: 40px;
	width: 320px;
	margin: 8px;
	border-radius: 100px;
	text-align: center;
}

.button__white > p {
	text-decoration: none;
	color: black;
	font-size: 13px;
	font-weight: 600;
	opacity: 0.65;
}
.acs {
	background-color: #171a20;
	height: 40px;
	line-height: 40px;
	width: 320px;
	margin: 10px;
	border-radius: 100px;
	text-align: center;
}
.acs > p {
	text-decoration: none;
	color: white;
	font-size: 13px;
	font-weight: 600;
}

@media (min-width: 1280px) {
	.button {
		background-color: #171a20cc;
		height: 40px;
		line-height: 40px;
		width: 256px;
		margin: 10px;
		border-radius: 100px;
		text-align: center;
	}

	.button > p {
		text-decoration: none;
		color: white;
		font-size: 13px;
		font-weight: 600;
	}

	.button__white {
		background-color: rgba(244, 244, 244, 0.65);
		height: 40px;
		line-height: 40px;
		width: 256px;
		margin: 10px;
		border-radius: 100px;
		text-align: center;
	}

	.button__white > p {
		text-decoration: none;
		color: black;
		font-size: 13px;
		font-weight: 600;
		opacity: 0.65;
	}
	.acs {
		background-color: #171a20;
		height: 40px;
		line-height: 40px;
		width: 256px;
		margin: 10px;
		border-radius: 100px;
		text-align: center;
	}
	.acs > p {
		text-decoration: none;
		color: white;
		font-size: 13px;
		font-weight: 600;
	}
}
